saves/
logs/
build/
journeymap/
cache/
backups/
crasf-reports/

cache/groovy/_index.json
cache/groovy/_index.json
cache/groovy/postInit/postInit.inworldcrafting.clz
crafttweaker.log
/crash-reports
/journeymap
/cache
cache/groovy/_index.json
cache/groovy/postInit/postInit.inworldcrafting.clz
crafttweaker.log
assembly_gauges.png
cache/groovy/_index.json
cache/groovy/_index.json
cache/groovy/postInit/postInit.inworldcrafting.clz
crafttweaker.log
