# Configuration file

rendering {
    # If true, glass blocks edges will not be rendered when connected to other glass blocks. [default: true]
    B:connectedGlassBlocks=true

    # If true, ALL glass panes will connect together regardless of type. [default: false]
    B:connectedGlassPanes=false

    # If true, DD mod's glass panes will connect together. [default: true]
    B:connectedOnlyDDGlassPanes=true
}


