# Configuration file

##########################################################################################################
# visual_options
#--------------------------------------------------------------------------------------------------------#
#  Legendary Tooltips Configuration Instructions
# 
#  *** READ THIS FIRST ***
# 
#  By default, this mod does not apply special borders to most items.  It was designed to work well with mod packs
#  where the available selection of items can vary widely, so it is up to the user or mod pack designer to customize as needed.
#  There are many options available for setting up which custom borders (also called frames) apply to which items.  Follow these steps:
#    1. Decide which items you want to have custom borders, and which borders.  Note that each custom border has a number associated with it (starting at 0).
#    2. For each custom border you want to use, fill out the associated list in the "definitions" section.  This will be filled out with a list of "selectors",
#       each of which tell the mod what items have that border.  Please read the information above the definitions section for specifics.
#    3. Selectors for borders are checked in the order provided in the "priorities" section.  Once a match is found, that border is displayed.
#       For example, if border 0 had the selector "%Diamond" and border 1 had the selector "diamond_sword", they would both match for diamond swords.
#       In this case, whichever border number came first in the priority list would be the border that would get drawn in-game.
#    4. Optionally, border colors associated with custom borders can be set in the "colors" section.  The start color is the color at the top of the tooltip,
#       and the end color is the bottom, with a smooth transition between.  Please read the information above the color section for specifics.
##########################################################################################################

visual_options {
    # If enabled, tooltip border colors will match item rarity colors (except for custom borders). [default: true]
    B:borders_match_rarity=true

    # Whether item names in tooltips should have a line under them separating them from the rest of the tooltip. [default: true]
    B:name_separator=true

    # If enabled, items showing a custom border will have a special shine effect when hovered over. [default: true]
    B:shine_effect=true

    # Whether or not to repeat the shine effect, or to only play it once. [default: false]
    B:shine_repeat=false

    # Whether or not to sync horizontal and vertical shine, or delay vertical shine. [default: false]
    B:shine_sync=false

    # The speed at which to play the shine effect, higher value is slower. [range: 20 ~ 800, default: 50]
    I:shine_ticks=50

    # If enabled, tooltips will display a drop shadow. [default: true]
    B:tooltip_shadow=true
}


##########################################################################################################
# definitions
#--------------------------------------------------------------------------------------------------------#
#  Entry types:
#    Item name - Use item name for vanilla items or include mod name for modded items.  Examples: minecraft:stick, iron_ore
#    Item Metadata - After an item name, you may include a colon and then a number to indicate metadata.  Examples: minecraft:wool:5, minecraft:sponge:1
#    Tag - $ followed by ore dictionary tag name.  Examples: $plankWood or $ingotIron
#    Mod name - @ followed by mod identifier.  Examples: @spoiledeggs
#    Rarity - ! followed by item's rarity.  Examples: !uncommon, !rare !epic
#    Item name color - # followed by color hex code, the hex code must match exactly.  Examples: #23F632
#    Display name - % followed by any text.  Will match any item with this text in its tooltip display name.  Examples: %Uncommon
#    Tooltip text - ^ followed by any text.  Will match any item with this text anywhere in the tooltip text (besides the name).  Examples: ^Legendary
#    NBT tag - & followed by tag name and optional comparator (=, >, <, or !=) and value, in the format <tag><comparator><value> or just <tag>.
#              Examples: &Damage=0, &Tier>1, &Enchantments, &map!=128
##########################################################################################################

definitions {
    #  [default: [!epic], [!rare]]
    S:level0_entries <
        alchemistry:element:45
     >

    #  [default: ]
    S:level1_entries <
        alchemistry:element:46
        
     >

    #  [default: ]
    S:level2_entries <
        alchemistry:element:47
     >

    #  [default: ]
    S:level3_entries <
        minecraft:furnace
        prodigytech:magmatic_aeroheater
        prodigytech:solid_fuel_aeroheater
        prodigytech:energion_aeroheater
        prodigytech:tartaric_aeroheater
        prodigytech:explosion_furnace
        prodigytech:capacitor_aeroheater
        prodigytech:incinerator
        prodigytech:blower_furnace
        prodigytech:rotary_grinder
        prodigytech:heat_sawmill
        prodigytech:food_purifier
        prodigytech:solderer
        prodigytech:magnetic_reassembler
        prodigytech:ore_refinery
        prodigytech:automatic_crystal_cutter
        prodigytech:capacitor_charger
        prodigytech:fuel_processor
        prodigytech:food_enricher
        prodigytech:primordialis_reactor
        prodigytech:atomic_reshaper
        prodigytech:heat_capacitor_0
        prodigytech:heat_capacitor_1
        prodigytech:heat_capacitor_2
        prodigytech:heat_capacitor_3
        modularmachinery:heat_engine_controller
     >

    #  [default: ]
    S:level4_entries <
        alchemistry:element:49
     >

    #  [default: ]
    S:level5_entries <
        botania:specialflower
        botania:floatingspecialflower
        biomesoplenty:sapling_1:5
        contenttweaker:flower_steel_ingot
        contenttweaker:flower_steel_plate
        contenttweaker:flower_steel_rod
        contenttweaker:flower_steel_gear
        contenttweaker:flower_steel_block
        contenttweaker:neutronium_flower_bed
        contenttweaker:inf_flower1
        contenttweaker:inf_flower2
        contenttweaker:inf_flower3
        contenttweaker:inf_flower4
        contenttweaker:inf_flower5
        contenttweaker:staffwood_flower
        roots:elemental_soil_air
        roots:elemental_soil_water
        roots:elemental_soil_fire
        roots:elemental_soil_earth
        bloodmagic:component:5
        contenttweaker:plant_sample
        mysticalagriculture:crafting:16
        mysticalagriculture:crafting:17
        mysticalagriculture:crafting:18
        mysticalagriculture:crafting:19
        mysticalagriculture:crafting:20
        mysticalagriculture:crafting:21
        mysticalagradditions:insanium:1
        botaniverse:morerune
        botania:petal
        botania:flower
        botania:shinyflower
        botania:miniisland
        botania:petalblock
        botania:mushroom
        botania:doubleflower1
        botania:doubleflower2
        botania:dye
        botania:manaresource:4
        botania:manaresource:5
        botania:twigwand
        botania:rune
        botania:manaresource:3
        botania:manaresource:13
        botania:manaresource:14
        botania:fertilizer
        botania:grassseeds
        botania:overgrowthseed
        botania:tinypotato
        botania_tweaks:compressed_tiny_potato_1
        botania_tweaks:compressed_tiny_potato_2
        botania_tweaks:compressed_tiny_potato_3
        botania_tweaks:compressed_tiny_potato_4
        botania_tweaks:compressed_tiny_potato_5
        botania_tweaks:compressed_tiny_potato_6
        botania_tweaks:compressed_tiny_potato_7
        botania_tweaks:compressed_tiny_potato_8
        roots:petals
        contenttweaker:anti_petals
     >

    #  [default: ]
    S:level6_entries <
        contenttweaker:death_metal_ingot
        contenttweaker:death_metal_plate
        contenttweaker:death_metal_gear
        contenttweaker:death_metal_block
        contenttweaker:death_metal_ore
        contenttweaker:death_metal_dense_ore
        contenttweaker:death_metal_dust
        contenttweaker:death_metal_pieces
        contenttweaker:death_metal_chunk
        contenttweaker:death_metal_crystal
        contenttweaker:death_metal_shard
        contenttweaker:death_metal_clump
        contenttweaker:death_metal_dirty_dust
        contenttweaker:deathon
        requious:void_infuser
        contenttweaker:evil_core
        contenttweaker:slate_10
        contenttweaker:cursed_star
     >

    #  [default: ]
    S:level7_entries <
        extrautils2:machine
        thermalexpansion:frame:64
        thermalexpansion:frame
        mekanism:basicblock:8
        actuallyadditions:block_misc:9
        enderio:item_material:1
        enderio:item_material:66
        enderio:item_material:54
        actuallyadditions:block_misc:8
        contenttweaker:soul_frame
        contenttweaker:blood_frame
        contenttweaker:mana_frame
        contenttweaker:star_frame
        
        enderio:item_material:0
        enderio:item_material:53
        deepmoblearning:machine_casing
        teslacorelib:machine_case
        mysticalagriculture:mystical_machine_frame
        extendedcrafting:frame
        
        extrautils2:resonator
        requious:fluid_mixer
        requious:fluid_alloyer
        requious:assembler
        requious:bioassembler
        requious:recycler
        requious:vial_processor
        requious:advanced_mixer
        requious:fluid_sieve
        requious:satellite_controller
        mob_grinding_utils:fan
        mob_grinding_utils:saw
        enderio:block_simple_crafter
        actuallyadditions:block_canola_press
        mysticalagriculture:seed_reprocessor
        openblocks:xp_bottler
        modularmachinery:gp_gen_controller
        deepmoblearning:trial_keystone
        excompressum:auto_sieve
        thermalexpansion:device:3
        exnihilocreatio:block_auto_sifter
        modularmachinery:tree_powered_compressor_controller
     >

    #  [default: ]
    S:level8_entries <
        alchemistry:element:53
     >

    #  [default: ]
    S:level9_entries <
        alchemistry:element:54
     >

    #  [default: ]
    S:level10_entries <
        mysticalagriculture:crafting:0
        mysticalagriculture:crafting:1
        mysticalagriculture:crafting:2
        mysticalagriculture:crafting:3
        mysticalagriculture:crafting:4
        mysticalagradditions:insanium:0
        contenttweaker:ma_essence1
        contenttweaker:ma_essence2
        contenttweaker:ma_essence3
        contenttweaker:ma_essence4
        contenttweaker:ma_essence5
        contenttweaker:ma_essence6
        contenttweaker:ma_essence7
        mysticalagradditions:stuff:69
     >

    #  [default: ]
    S:level11_entries <
        $living
     >

    #  [default: ]
    S:level12_entries <
        alchemistry:element:57
     >

    #  [default: ]
    S:level13_entries <
        alchemistry:element:58
     >

    #  [default: ]
    S:level14_entries <
        alchemistry:element:59
     >

    #  [default: ]
    S:level15_entries <
        !epic
        !rare
        extrautils2:rainbowgenerator:0
        extrautils2:rainbowgenerator:1
        extrautils2:rainbowgenerator:2
        extrautils2:decorativesolid:8
     >
}


##########################################################################################################
# priorities
#--------------------------------------------------------------------------------------------------------#
# Set border priorities here.  This should be a string containing a comma-separated list of numbers that
# correspond to border levels, with numbers coming first being higher priority.
##########################################################################################################

priorities {
    #  [default: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
    S:priorities=0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
}


##########################################################################################################
# colors
#--------------------------------------------------------------------------------------------------------#
# The start and end border colors and background colors of each level.
#  Note that they can be entered as any one of: a hex color code in the format #AARRGGBB or #RRGGBB, OR a string color name.
#  Examples: #FFFF00, #FF73D984, red, #FFCC00
##########################################################################################################

colors {
    #  [default: #FF996922]
    S:level0_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level0_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level1_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level1_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level2_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level2_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level3_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level3_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level4_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level4_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level5_start_color=#FF00511A

    #  [default: #FF5A3A1D]
    S:level5_end_color=#FF100010

    #  [default: #FF996922]
    S:level6_start_color=#FFFFFFFF

    #  [default: #FF5A3A1D]
    S:level6_end_color=#FF8C8A85

    #  [default: #FF996922]
    S:level7_start_color=#FF667580

    #  [default: #FF5A3A1D]
    S:level7_end_color=#FF170817

    #  [default: #FF996922]
    S:level8_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level8_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level9_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level9_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level10_start_color=#FF3DB72B

    #  [default: #FF5A3A1D]
    S:level10_end_color=#FF103608

    #  [default: #FF996922]
    S:level11_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level11_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level12_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level12_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level13_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level13_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level14_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level14_end_color=#FF5A3A1D

    #  [default: #FF996922]
    S:level15_start_color=#FF996922

    #  [default: #FF5A3A1D]
    S:level15_end_color=#FF5A3A1D

    #  [default: #F0160A00]
    S:level0_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level10_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level11_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level12_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level13_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level14_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level15_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level1_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level2_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level3_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level4_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level5_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level6_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level7_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level8_bg_color=#F0160A00

    #  [default: #F0160A00]
    S:level9_bg_color=#F0160A00
}


