# Configuration file

general {
    D:copperFurnaceConsumptionRate=1.250
    I:copperFurnaceSpeed=150
    D:diamondFurnaceConsumptionRate=10.0
    I:diamondFurnaceSpeed=10
    D:goldFurnaceConsumptionRate=5.0
    I:goldFurnaceSpeed=40
    D:ironFurnaceConsumptionRate=1.50
    I:ironFurnaceSpeed=120
    D:netherrackFurnaceConsumptionRate=1.0
    I:netherrackFurnaceSpeed=1800
    D:obsidianFurnaceConsumptionRate=10.0
    I:obsidianFurnaceSpeed=10
    D:silverFurnaceConsumptionRate=1.50
    I:silverFurnaceSpeed=80
}


