# Configuration file

compat {
    # Immersive Engineering Garden Cloche Compat [default: true]
    B:IMMERSIVE_CLOCHE=true
}


##########################################################################################################
# custom seeds
#--------------------------------------------------------------------------------------------------------#
# Here you can create your own seeds. It generates for you the Seed, Essence, Crop and Mob Chunk.
# For making the recipes you'll need to use CraftTweaker!
# - Syntax: name;tier;color;crux;entity
# - 'name' should be lower case with underscores for spaces.
# - 'tier' should be 1, 2, 3, 4, 5 or 6.
# - 'color' the color of the seed as a hex value. http://htmlcolorcodes.com/
# - 'crux' can be any block, leave this as null if you don't want to use crux
# Example: minecraft:diamond_block
# - 'entity' can be any entity, leave this as null if you don't want mob chunks (If you want more than one entity for the same seed, use "," to separate them)
# Example: minecraft:pig
# Example multiple entities: minecraft:pig,minecraft:witch,twilightforest:naga
# 
# Example for Cake Seeds:
# cake;2;724C1B;null;null
##########################################################################################################

"custom seeds" {
    S:CUSTOM_SEED_LIST <
        arkenium;3;252429;null;null
        gallium;3;b5ceea;null;null
        neodymium;4;d34aa0;null;null
        cursed_gold;4;ea9b0e;null;null
        eezo;3;1c2123;null;null
        karmesine;2;c93436;null;null
        ovium;2;3436c9;null;null
        jauxum;2;47b646;null;null
        prometheum;3;131317;null;null
        osram;2;fbcc81;null;null
        palladium;4;fb6f27;null;null
        uru;4;aea6b0;null;null
     >
}


